<header class="header">
    <a href="/"><img src="/img/signiture.svg" /></a>

    <ul class="header__menu">
        {{#if1 isLoginUser}}
        <li class="header__menu__item">
            <a class="header__menu__nickname" href="/mypage">안녕하세요 {{userNickname}}님!</a>
        </li>
        <li class="header__menu__item">
            <a class="btn btn_contained btn_size_s" href="/article">글쓰기</a>
        </li>
        <form action="/user/logout" method="POST">
            <button type="submit">로그아웃</button>
        </form>
        {{else1}}
        <li class="header__menu__item">
            <a class="btn btn_contained btn_size_s" href="/login">로그인</a>
        </li>
        <li class="header__menu__item">
            <a class="btn btn_ghost btn_size_s" href="/registration">회원 가입</a>
        </li>
        {{/if1}}
    </ul>
</header>
