<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../static/reset.css" rel="stylesheet" />
    <link href="../../static/global.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      {{> /layout/header.html}}
      <div class="page">
        <h2 class="page-title">게시글 작성</h2>
        <form
                class="form"
                action="/article/create"
                method="post"
                enctype="multipart/form-data"
                data-ajax="true"
        >
          <div class="textfield textfield_size_m">
            <p class="title_textfield">내용</p>
            <textarea
                    class="input_textfield"
                    name="content"
                    placeholder="글의 내용을 입력하세요"
                    autocomplete="off"
                    required
            ></textarea>
          </div>

          <div class="textfield textfield_size_s" style="margin-top: 16px">
            <p class="title_textfield">파일 첨부</p>
            <input
                    class="input_textfield"
                    type="file"
                    name="file"
                    accept="image/*"
            />
          </div>

          <button
                  id="registration-btn"
                  class="btn btn_contained btn_size_m"
                  style="margin-top: 24px"
                  type="submit"
          >
            작성 완료
          </button>
        </form>
      </div>
    </div>
    {{> /layout/error-popup.html}}
  </body>
</html>
