<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/reset.css" rel="stylesheet" />
    <link href="../static/global.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    {{> /layout/header.html}}

    <div class="wrapper">
        {{#if1 article}}
        <div class="post">
            <div class="post__account">
                <img class="post__account__img" src=""/>
                <p class="post__account__nickname">{{writerNickname}}</p>
            </div>
            <img class="post__img" src="../static/article/img/{{article.id}}.jpeg"/>
            <div class="post__menu">
                <ul class="post__menu__personal">
                    <li>
                        <form method="post" action="/like?articleId={{article.id}}">
                            <button class="post__menu__btn">
                                <img src="../static/img/like.svg" />
                            </button>
                        </form>
                    </li>
                    <li>
                        <p class="comment__item__user__nickname"
                           style="margin-top:6px">{{article.likeCount}}</p>
                    </li>
                    <li>
                        <button class="post__menu__btn">
                            <img src="../static/img/comment.svg" />
                        </button>
                    </li>
                    <li>
                        <p class="comment__item__user__nickname"
                           style="margin-top:6px">{{commentCount}}</p>
                    </li>
                </ul>
                <button class="post__menu__btn">
                    <img src="../static/img/bookMark.svg" />
                </button>
            </div>
            <p class="post__article">
                {{article.content}}
            </p>
        </div>
        <ul class="comment">
            {{#each1 commentList}}
            <li class="comment__item">
                <div class="comment__item__user">
                    <img class="comment__item__user__img" src="../static/article/img/{{this.writerId}}.jpeg"/>
                    <p class="comment__item__user__nickname">{{this.nickname}}</p>
                </div>
                <p class="comment__item__article">
                    {{this.content}}
                </p>
            </li>
            {{/each1}}
            <li class="comment__item hidden">
                <div class="comment__item__user">
                    <img class="comment__item__user__img" />
                    <p class="comment__item__user__nickname">account</p>
                </div>
                <p class="comment__item__article">Comment 1</p>
            </li>
            <li class="comment__item hidden">
                <div class="comment__item__user">
                    <img class="comment__item__user__img" />
                    <p class="comment__item__user__nickname">account</p>
                </div>
                <p class="comment__item__article">Comment 2</p>
            </li>
            <li class="comment__item hidden">
                <div class="comment__item__user">
                    <img class="comment__item__user__img" />
                    <p class="comment__item__user__nickname">account</p>
                </div>
                <p class="comment__item__article">Comment 3</p>
            </li>
            {{#if2 hasMoreComments}}
            <a href="/?articleId={{article.id}}&fullComments=true" class="btn btn_ghost btn_size_m">
                모든 댓글 보기(+{{additionalComments}}개)
            </a>
            {{/if2}}
        </ul>
        {{/if1}}
        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__menu__item">
                    <a class="nav__menu__item__btn"
                       {{#if3 prev}}
                       href="/?articleId={{prev}}"
                       {{/if3}}
                    >
                        <img
                                class="nav__menu__item__img"
                                src="../static/img/ci_chevron-left.svg"
                        />
                        이전 글
                    </a>
                </li>
                <li class="nav__menu__item">
                    <a class="btn btn_ghost btn_size_m" href="/comment?articleId={{article.id}}">댓글 작성</a>
                </li>
                <li class="nav__menu__item">
                    <a class="nav__menu__item__btn"
                       {{#if4 next}}
                       href="/?articleId={{next}}"
                       {{/if4}}
                    >
                        다음 글
                        <img
                                class="nav__menu__item__img"
                                src="../static/img/ci_chevron-right.svg"
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
